* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }

  body {
    padding: 1rem;
    text-align: center;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header {
    padding: 0.5rem;
    width: 100%;
    color: gold;
    background-color: black;
    margin: auto;
    
  }

  #ramen {
    display: flex;
    margin: 1rem 0;
    max-width: calc(100vw - 2rem);
    flex-wrap: wrap;
    justify-content: center;
    transform: scale(1.1);
  }

  